* {
  box-sizing: border-box;
}

body {
  height: 500vh;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: #00437a;
  text-align: center;
}

section {
  width: 60vw;
  margin: 0 auto;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

.navbar {
  border: 1px solid #00437a;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 5vh;
  background: white;
  z-index: 1;
}

.links a {
  margin-right: 1.8rem;
  padding: 1rem;
}

.links a:hover {
  text-shadow: 0 0 0 grey;
  background: lightgray;
  border-radius: 1rem;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(../img/sky.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  max-width: 100%;
  color: white;
  border-radius: 0.5rem;
}

.intro-heading {
  font-size: 4.5rem;
}

.intro-text {
  font-size: 1.6rem;
}

em {
  font-style: normal;
}

#phrase-one,
#word-one,
#word-two,
#word-three {
  opacity: 0;
  animation-duration: 1s;
  animation-name: appear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#phrase-one {
  animation-delay: 1.5s;
}

#word-one {
  animation-delay: 2.4s;
}

#word-two {
  animation-delay: 3s;
}

#word-three {
  animation-delay: 3.6s;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.part {
  opacity: 0;
  transform: scale(1.1);
  transition: opacity 1s, transform 1s;
}

.part-transition {
  opacity: 1;
  transform: none;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#about a {
  text-decoration: underline;
}

#about ul {
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  list-style: none;
}

.main-skills {
  margin: 3rem 0;
}

.other-skills {
  margin-bottom: 3rem;
}

#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.7rem;
}

.project-grid article {
  border: 2px solid #00437a;
  border-radius: 0.4rem;
  padding: 1rem;
}

article a {
  margin: 1rem;
}

.project-grid img {
  max-width: 250px;
}

#resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.resume-button {
  margin-top: 1rem;
  border: 0;
  border-radius: 0.3rem;
  background: #0070b6;
  padding: 0.6rem;
  color: white;
  cursor: pointer;
}

.resume-button:hover {
  background: #00437a;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact-email {
  margin-bottom: 1rem;
}

footer {
  border: 1px solid #00437a;
  padding-bottom: 1rem;
  background: linear-gradient(to right, #1782c1, #005c9f, #00437a);
  color: white;
}

@media screen and (max-width: 1101px) {
  .intro {
  }
}

@media screen and (max-width: 665px) {
  .intro {
  }
}

@media screen and (max-width: 480px) {
  .intro {
  }
}
